# Created by .gitignore support plugin (hsz.mobi)
### Scala template
*.class
*.log
*.sc

# sbt specific
.sbtopts
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

### IDEA
*.iml
.idea
.java-version

## configuration
**/application.conf
svc/matching/conf/secret.json